*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    display: flex;
    justify-content: space-between;
    height: 5rem;
}
body{
    background-image: url("./img/movie.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.main2{
    width: 40rem;
    background-color: rgb(245, 233, 233);
    text-align: center;
    margin-left: 40rem;
    margin-top: 15rem;
    border-radius: 20px;
    box-shadow: 20px snow;
   
}
#search{
    height: 3rem;
    width: 15rem;
    font-size: 20px;
    
    
}
button{
    height: 3rem;
    width: 3rem;
    background-color: blue;
   
    
}
.input{
    margin: 2rem;
    margin-right: 3rem;
    font-size: 60px;
}
h1{
    padding-top: 20px;
    padding-left: 30px;
}
#result{
    font-size: 30px;
}